<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Maven_Assignments.Assignments.TestCase_1"/>
      <class name="Maven_Assignments.Assignments.TestCase_2"/>
      <class name="Maven_Assignments.Assignments.TestCase_3"/>
      <class name="Maven_Assignments.Assignments.TestCase_4"/>
      <class name="Maven_Assignments.Assignments.TestCase_5"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
